body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
}

#profile-info {
  text-align: center;
  margin: 2em;
}

#profile-info img {
  border-radius: 50%;
  max-width: 200px;
  height: auto;
  border: 5px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#skills,
#contact {
  margin: 2em;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  display: inline-block;
  margin-right: 10px;
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
}

section h2 {
  color: #333;
}

/* Style untuk tombol sapa */
#btn-greet {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#btn-greet:hover {
  background-color: #2980b9;
}

/* Style untuk kontak */
#contact p {
  font-size: 1.2em;
}

/* Animasi hover untuk link kontak */
#contact a {
  color: #3498db;
  text-decoration: none;
  transition: color 0.3s ease;
}

#contact a:hover {
  color: #2980b9;
}
